.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Modal-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  top: 0;
  text-align: center;
  position: absolute;
  background-color: rgba(25, 25, 25, 0.7);
}

.Modal-content {
  position: relative;
  top: 50%;
  margin: auto;
  width: 200px;
  padding: 20px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.Fix-iOS {
  margin: 20px;
}

.Indicator {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
